.cell {

	&.white {
		background: var(--color-white);
	}
	&.black {
		background: var(--color-black);
	}
	&.is-figure:hover {
		cursor: pointer;
	}
	&__abailable {
		width: 30%;
		height: 30%;
		border-radius: 50%;
		background: green;
	}
	&.can-attack {
		background: green;
	}
	&.selected {
		background: red;
	}
}