.cell {
	width: calc(100% / var(--field-size));
	height: calc(100% / var(--field-size));

	&.white {
		background: var(--color-white);
	}
	&.black {
		background: var(--color-black);
	}
	&.is-figure:hover {
		cursor: pointer;
	}
}